body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(SS.jpg);
    background-size: cover;
    background-position: center;
}
.Dev-5G
{
    width: 300px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 10);
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.3px);
    -webkit-backdrop-filter: blur(0.3px);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 80px auto;


}
.Dev-5G h1
{
    color: #6495ED;
    margin-bottom: 30px;
}
.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #6495E0;
    outline: none;
}
button
{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.sign-btn
{
   background-color:#6495E0; 
}
a
{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width: 80px;
}
.or
{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
img
{
    width: 100px;
    margin-top: -30px;
    margin-left: 240; 
}
